body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #6f42c1;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, p {
    margin: 0 0 1rem 0;
}

h1 {
  margin: 0;
}

.next-steps {
    margin-top: 2rem;
}

.next-steps ul {
    list-style-type: none;
    padding: 0;
}

.next-steps li {
    margin-bottom: 0.5rem;
}

.next-steps a {
    color: #6f42c1;
    text-decoration: none;
}

.next-steps a:hover {
    text-decoration: underline;
}
